<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <title>Create Account</title>

  <!-- Bootstrap -->
  <link href="/static/css/bootstrap.min.css" rel="stylesheet">

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="/static/js/bootstrap.min.js"></script>

  <!-- Proper page allignemnt for the gui-->
  <style>
    #gui {
      position: relative;
      margin-top: 5%;
    }
  </style>
</head>

<body>

  <!-- Create Account In GUI-->
  <div id="gui" class="container">
    <h1 class="text-center">Create a gemcWeb account</h1>
    <br>
    <form method="POST">
      <div class="form-group">
        <label for="user">Username:</label>
        <input type="text" class="form-control" id="user" name="username">
      </div>
      <div class="form-group">
        <label for="pwd">Password:</label>
        <input type="password" class="form-control" id="pwd" name="password">
      </div>
      <button type="submit" class="btn btn-primary pull-right">Submit</button>
    </form>
    <br>
    <div  class="text-center center-block">
      <h4>Notes:</h4>
      <p>Accounts are not recoverble, so please remember information.</p>
      <p>Use a strong password, make sure it is unique</p>
    </div>
    <div>
      <a href= {{ url_for('login') }}>Go back to log in page if you have an account</a>
    </div>
  </div>

</body>

</html>
