<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <title>Docs</title>

  <!-- Bootstrap -->
  <link href="/static/css/bootstrap.min.css" rel="stylesheet">

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="/static/js/bootstrap.min.js"></script>

  <!-- Proper page allignemnt for the gui-->
  <style>
    #gui {
      position: relative;
      margin-top: 5%;
    }
  </style>
</head>

<body>

  <!-- Fixed navbar -->
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">gemcWeb</a>
      </div>
      <div id="navbar" class="navbar-nav">
        <ul class="nav navbar-nav">
          <li><a href= {{ url_for('home') }}>Home</a></li>
          <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Projects <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href= {{ url_for('fresh_exp') }}>New Project</a></li>
                  <li><a href= {{ url_for('proj_lst') }}>Projects</a></li>
                </ul>
              </li>
          <li><a href= {{ url_for('aboutin') }}>About</a></li>
          <li><a href= {{ url_for('docsin') }} class="active">Docs</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Docs GUI-->
  <div id="gui" class="container">
    <h1>Documentation</h1>
    <p>Here is some detailed documentation: </p>
    <ul>
      <li><a href="https://github.com/gemc/gemcWeb/blob/master/docs/gemcWebDevGuide.md">Developer's Guide</a></li>
      <li><a href="https://github.com/gemc/gemcWeb/blob/master/docs/UbuntuInstallGuide.md">Ubuntu Install Guide</a></li>
    </ul>
    <br>
    <p>The official GitHub repository can be found here: <a href="https://github.com/gemc/gemcWeb">gemcWeb GitHub</a></p>
    <br>
    <p>The official gemc website can be found here: <a href="https://gemc.jlab.org/gemc/html/index.html">gemc</a>.</p>
  </div>

</body>

</html>
